
* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

  nav{
    margin:2%;
    margin-top:3%;
    margin-left:5%;
    display:flex;
    gap:3%;
    align-items:center;
    min-height:8vh;
    color:#420547;
  }
  .nav-links{
    display:flex;
    gap:8%;
    list-style-type:none;
    }
    .nav-links a{
      color:#420547;
      text-decoration:none;
      letter-spacing:1px;
      font-weight:bold;
      font-size:16px;
    }
    .nav-links a:hover{
      text-decoration: underline;
      
    }
    .burger{
      display:none;
    }
  .burger div{
    width:25px;
    height:3px;
    background-color:#420547;
    margin:5px;
  }  
  .hero-container{
    margin:8%;
    background-color:#76127E;
    height:500px;
    border-radius:10px;
    display:flex;
  }
  .hero-text{
    max-width:50%;
    color:white;
    text-align:left;
    padding-left:10%;
    padding-top:12%;
    padding-bottom:5%;
  }
  .hero-txt-h1{
    padding-bottom:5%;
    font-size:4rem;
  }
  .hero-txt-p{
    width:80%;
    padding-bottom:6%;
    font-size:1.5rem;
    font-weight:1px;
  }

  .hero-btn{
    text-decoration:none;
    padding:10px;
    color:white;
    background-color:#A948D7;
    border-radius:15px;
    padding-left:15px;
    padding-right:15px;
  }
  .hero-img{
    width:50%;
  }
  .image{
    width:120%;
    height:100%;
    transform:translateX(50%);
    transform:translateY(20%);
  }

  /* ---------cards------ */
  .cards{
    margin:2%;
    margin-top:10%;
    display:flex;
    justify-content:space-between;
  }
  .card-1{
    background-color:white;
    width:20%;
    height:350px;
    text-align:center;
    padding-left:2%;
    padding-right:2%;
    border-radius:10px;
    border:1px solid;
    border-color:#76127E;
    margin:3%;
    margin-top:5%;
  }
  .cards_header{
    color:#76127E;
    padding-bottom:5%;
  }
  .cards_p{
    color:#76127E;
    padding:3%;
  }
  .card-logo{
    margin:auto;
    border-radius:50%;
    color:#76127E;
    border:1px solid;
    border-color:#76127E;
    width:30%;
    height:20%;
    text-align:center;
    margin-bottom:20%;
    margin-top:10%;
  }
  .spani{
    color:#76127E;
    margin-top:25%;
    margin-left:5%;
  }
  /*-------Start-------*/
  .about-start{
    margin:5%;
    margin-left:10%;
    display:flex;
    gap:20%;
  }
  .about-start-img-div{
    width:50%;
  }
  .about-start-img{
    width:100%;
    height:100%;
  }
  .about-start-text{
    margin-top:10%;
  }
  .about-start-txt-h2{
    font-size:3rem;
    color:#420547;
    margin-bottom:2%;
  }
  .about-start-txt-p{
    width:60%;
    margin-bottom:4%;
    color:#76127E;
  }
  .about-start-btn{
    text-decoration:none;
    padding:2%;
    background-color:#A948D7;
    color:white;
    border-radius:15px;
  }
  /*---stats----*/
  .stats{
    display:flex;
    gap:2%;
    margin:3%;
    margin-right:0;
  }
  .stats-text{
    margin-top:5%;
    margin-left:5%;
  }
  .stats-txt-h2{
    font-size:3rem;
    color:#420547;
    margin-bottom:3%;
  }
  .stats-txt-p{
    width:60%;
    margin-bottom:5%;
    color:#76127E;
  }
  .stats-btn{
    text-decoration:none;
    padding:2%;
    background-color:#A948D7;
    color:white;
    border-radius:15px;
  }
  .stat-img{
    width:100%;
    height:60%;
    transform:translateY(-15%);
  }
  .stat_box{
    background-color:#76127E;
    opacity:75%;
    width:20%;
    height:10%;
    border-radius:10px;
    padding-left:12px;
    padding-right:12px;
    margin-bottom:5%;
  }
  .stat_box_heading{
    color:white;
    padding:10%;
    padding-top:10%;
    text-align:center;
  }
  .stats_box_container{
    transform:translateY(-580px);
  }
  .stats_box_indi_container1{
    transform:translateX(200px);
    margin-bottom:10%;
  }
  .stats_box_indi_container2{
    transform:translateX(120px);
    margin-bottom:10%;
  }
  .stats_box_indi_container3{
    transform:translateX(200px);
  }
  .footer{
    transform:translateY(-550px);
  }
  .footer_img{
    width:50%;
    height:40%;
  }
  .footer-text{
    display:flex;
    gap:5%;
    margin-right:2%;
    margin-left:2%;
  }
  .footer-col-1{
    width:30%;
    color:white;
    transform:translateY(-640px);
  }
  .footer-col-1-header{
    font-size:2.5rem;
    padding-bottom:8%;
  }
  .footer-col-1-p{
    font-size:1.5rem;
  }
  .footer-col-2{
    width:20%;
    color:white;
    transform:translateY(-600px);
  }
  .footer-list-1{
    padding-bottom:10%;
  }
  .footer-list-1-li{
    list-style-type:none;
    font-size:1rem;
  }
  .footer-col-2-heading-1{
    padding-bottom:5%;
  }
  .footer-col-2-heading-2{
    padding-bottom:5%;
  }
  .footer-col-3{
    width:20%;
    color:white;
    transform:translateY(-600px);
  }
  .footer-col-4{
    width:20%;
    transform:translateY(-600px);
  }
  .footer-col-5{
    visibility:hidden;
  }
  .subscribe{
    padding:3%;
    color:rgb(160, 158, 158);
    border-radius:20px;
    border:0.5px solid;
    border-color:rgb(192, 190, 190);
    transform:translateX(-110px);
  }
  .subscribe-btn{
    transform:translateX(-150px);
    border-radius:15px;
    border:0.5px solid;
    border-color:#420547;
    padding:3%;
    background-color:#420547;
    color:white;
  }
  .footer-form{
    display:flex;
    padding-bottom:12%;
  }
  .footer-list-2-li{
    list-style-type:none;
    color:white;
  }
  .footer-list-2{
    display:flex;
    gap:2%;
    transform:translateX(-98px);
  }
  .follow{
    color:white;
    transform:translateX(-100px);
    padding-bottom:3%;
  }
  .copyright
  {padding-left:40%;
    color:white;
    transform:translateY(-680px);
  }
  .nav-logo{
    width:10%;
    height:10%;
  }
  .image-2{
    visibility:hidden;
  }