

@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
    }
    .burger{
        cursor:pointer;
        margin-left:30%;
        display:block;
    }
    .image{
        display:none;
    }
    .nav-links{
        padding-top:15%;
       position:absolute;
       right:0px;
       height:90vh;
       top:8vh;
       background-color:#76127E;
       display:flex;
       flex-direction:column;
       align-items:center;
       width:50%;
       z-index:100;
       transform:translateX(100%);
       transition:transform 0.5s ease;
    }
    .nav-links a{
        color:white;
        font-size:1rem;
    }
    .cards{
        display:block;
        margin-top:15%;
        margin-bottom:15%;
        margin-left:10%;
        margin-right:10%;
    }
    
    .card-1{
        margin:10%;
        width:75%;
        height:100%;
        margin-bottom:5%;
    }
    .card-logo{
       margin-left:45%;
        border-radius:50%;
        color:#76127E;
        border:1px solid;
        border-color:#76127E;
        width:16%;
        height:190%;
        text-align:center;
        margin-bottom:10%;
        margin-top:8%;
    }
    .cards_header{
        font-size:2rem;
    }
    .cards_p{
        font-size:1.5rem;
        width:60%;
        margin-left:18%;
        margin-bottom:10%;
    }
    .spani{
        color:#76127E;
        margin-top:25%;
        margin-bottom:25%;
        margin-left:5%;
      }
      .about-start{
        display:block;
    }
    .about-start-img{
        margin-top:25%;
        margin-left:45%;;
    }
    .about-start-txt-h2{
        transform:translateY(-470px);
    }
    .about-start-text{
        text-align:center;
    }
    
    .about-start-txt-p{
        margin:5%;
        margin-left:20%;
        transform:translateY(-130px);
        padding-bottom:0;
        font-size:1.5rem;
    }
    .stats{
        display:block;
        text-align:center;
    }
    
    .stat-img{
        visibility:hidden;
    }
    .stats-txt-h2{
        font-size:3rem;
    }.stats-txt-p{
        margin-left:19%;
        font-size:1.5rem;
    }
    .footer{
        overflow-x:hidden;
        transform:translateY(-250px);
    }
    .stat_box {
        width:50%;
    }
    .stats_box_container{
        transform:translateY(-250px);
    }
    .stats_box_indi_container1{
        transform:translateX(270px);
    }
    .stats_box_indi_container2{
       transform:translateX(270px);
   }
   .stats_box_indi_container3{
       transform:translateX(270px);
   }
   
    .footer-col-1{
        margin-left:5%;
    }
    .footer-col-4{
        display:none;
    }
    .footer-col-5{
        visibility:visible;
        width:30%;
        transform:translateY(-700px);
        margin-left:60%;
    }
    .copyright{
        transform:translateY(-600px);
    }
}

.nav-active{
    transform:translateX(0%);
}



@media screen and (max-width: 594px){
    .hero-container{
        margin:10%;
        width:60%;
        margin-left:5%;
        padding-left:15%;
        padding-right:15%;
        margin-bottom:30%;
    }
    .hero-text{
        transform:translateX(-60px);
    }
    .hero-txt-h1{
        transform:translateY(-60px);
        margin-top:80%;
        font-size:2rem;
        margin-bottom:5%;
        width:200px;
    }
    .hero-txt-p{
        transform:translateY(-60px);
        width:200px;
        font-size:1rem;
        margin-bottom:-25%;
    }
    
    .image{
        
        transform:translateY(80px);
        width:180%;
        height:100%;
    }
    .cards{
        display:block;
        margin:5%;
        margin-left:10%;
        margin-right:10%;
    }
    .card-1{
        margin:2%;
        width:95%;
        margin-bottom:5%;
    }
    .card-logo{
        margin:auto;
        border-radius:50%;
        color:#76127E;
        border:1px solid;
        border-color:#76127E;
        width:23%;
        height:25%;
        text-align:center;
        margin-bottom:10%;
        margin-top:8%;
    }
    .spani{
        color:#76127E;
        margin-top:33%;
        margin-left:5%;
      }
    .about-start{
        display:block;
    }
    .about-start-img{
        margin-top:35%;
        margin-left:45%;;
    }
    .about-start-txt-h2{
        transform:translateY(-295px);
    }
    .about-start-text{
        text-align:center;
    }
    
    .about-start-txt-p{
        margin:5%;
        margin-left:20%;
        transform:translateY(-100px);
        padding-bottom:0;
    }
    
    .stats{
        display:block;
    }
    .stat-img{
        visibility:hidden;
    }
    .stats_box_container{
        transform:translateY(-100px);
      }
      .stats-text{
          text-align:center;
          margin-top:5%;
      }
      .stats-txt-p{
          margin:5%;
        margin-left:20%;
        margin-bottom:10%;
      }
     .stat_box {
         width:50%;
     }
     .stats_box_indi_container1{
         transform:translateX(170px);
     }
     .stats_box_indi_container2{
        transform:translateX(170px);
    }
    .stats_box_indi_container3{
        transform:translateX(170px);
    }


    .footer{
        transform:translateY(-100px);
    }
    .footer_img{
        width:50%;
        height:150%;
      }
      .footer-text{
          display:block;
      }
      .footer-col-1{
          text-align:center;
          margin-left:25%;
          width:50%;
          transform:translateY(-750px);
      }
      .footer-col-1-header{
        font-size:1.5rem;
        padding-bottom:8%;
      }
      .footer-col-1-p{
        font-size:1rem;
      }
      .footer-col-2{
          display:flex;
          gap:20%;
          margin-left:15%;
          width:100%;
          color:white;
          transform:translateY(-700px);
      }
      .footer-col-3{
        display:flex;
        gap:20%;
        margin-left:15%;
        width:100%;
        color:white;
        transform:translateY(-670px);
      }
      .footer-col-5{
        visibility:visible;
        width:30%;
        transform:translateY(-600px);
        margin-left:60%;
    }
      .copyright{
          font-size:0.7rem;
        transform:translateY(-530px);
      }
      .image-2{
        visibility:visible;
        width:250px;
        height:50%;
        transform:translateY(270px);
      }
      .hero-img{
        transform:translateX(-85px);
      }
}