*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
h2{
    text-align: center;
    padding-top: 100px;
}
.image1{
  height: 6%;
  width: 6%;
 padding:1%;
}  

/* }
.logo{
  padding: 7px;
}
.logo:hover{
  border-radius: 25px;
} */
#events{
  cursor: pointer;
}
#font{
    font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 700;
    color: #212529;
}


#events{
    text-align: center;
    padding-top: 50px;
    color:#5199db;
    font-size: 36px;
    font-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  }




.main {
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid red;
  
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item,.header {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item,.header {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
  box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover{
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
#card_btn{
  background-color:#B980F0;
  color: #fff;
}
.card_content {
  padding: 1rem;
  background: #fff;
}

.card_title {
  color: #666;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  padding-top: 7px;
  
}

.card_text {
  color: #666;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  padding-top: 25px;
  text-align: center;
}
#last-image{
  height: 365px;
}