@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

:root{
    --purple:#814096;
    --pink:#f83292;
    --gradient:linear-gradient(90deg,var(--purple),var(--pink))
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}
*::selection{
background:var(--pink);
color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform: all .3s ease-in;
}
.btn:hover{
    transform: scale(1.1);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}
header .logo{
    font-size: 2rem;
    color: var(--purple);
    font-weight: bold;
}
header .logo span{
    color: var(--pink);
    font-weight: bold;
}

header .navbar a{
font-size: 1.7rem;
margin-left: 2rem;
color:var(--purple)
} 

.navbar a:hover{
color: var(--pink);

}

header input{
    display: none;
}
header label{
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/home-bg-img.png) no-repeat;
    background-size: cover;
  background-position: center;
}
.home .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

    @keyframes float {
        0%, 100%{
            transform:translateY(0rem);
        }
        50%{
            transform:translateY(-3.5rem);
        }

    }
.home .content h3{
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
} 
.home .content h3 span{
    color: var(--pink);
    text-transform: capitalize;
    }
    .home .content p{
        font-size:1.9rem;
        color: #666;
        padding: 1rem 0;
    }




































/* media quaries */
@media ( max-width:1200px){
    html{
        font-size: 55%;
       }
}
@media ( max-width:980px){
   
section{
    min-height: 100vh;
    padding: 0 3%;
    padding-top: 7.5rem;
}
}

@media ( max-width:768px){
    header label{
        
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0,.2);
        box-shadow: 0 .5rem 11rem rgba(0, 0, 0, .4);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .1s linear ;
        } 
        header .navbar a{
            display: block;
            margin: 2rem 0;
            font-size: 2rem;
            text-align: center;
        }
        header input:checked ~ .navbar{
            transform: scaleY(1);
            opacity: 1;
            
        }
        header input:checked ~ label::before{
            content: '\f00d';
        }
        .home{
            flex-flow: column-reverse;
        }
        .home .image img{
            width: 100%;

        }
        .home .content h3{
            font-size: 3.6rem;
            
        }
        .home .content p{
            font-size: 1.6rem;

        }
}
@media ( max-width:450px){
    html{
        font-size: 50%;
       }
}