@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

:root{
    --purple:#814096;
    --pink:#f83292;
    --gradient:linear-gradient(90deg,var(--purple),var(--pink))
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
*::selection{
background:var(--pink);
color: #fff;
}


.svg{
    width: 100%;
    position: relative;
}








/* media quaries */
@media ( max-width:1200px){

    html{
        font-size: 55%;
    }
    li:hover{
        cursor: pointer;
        background: #fff;
        box-shadow:5px 10px #f83292;
    }
}
@media ( max-width:980px){
   
section{
    min-height: 100vh;
    padding: 0 3%;
    padding-top: 7.5rem;
}

}

@media ( max-width:768px){
    header label{
        
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0,.2);
        box-shadow: 0 .5rem 11rem rgba(0, 0, 0, .4);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .1s linear ;
        } 
        header .navbar a{
            display: block;
            margin: 2rem 0;
            font-size: 2rem;
            text-align: center;
        }
        header input:checked ~ .navbar{
            transform: scaleY(1);
            opacity: 1;
            
        }
        header input:checked ~ label::before{
            content: '\f00d';
        }
        .home{
            flex-flow: column-reverse;
        }
        .home .image img{
            width: 100%;

        }
        .home .content h3{
            font-size: 3.6rem;
            
        }
        .home .content p{
            font-size: 1.6rem;

        }
        
}
@media ( max-width:450px){
    html{
        font-size: 50%;
    }
}