:root {
  --Linear-gradient2 : linear-gradient(to right, hsl(280, 39%, 43%) , hsl(356, 72%, 50%));
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

div.logo {
  font-family: "Roboto" , sans-serif;
  letter-spacing: 0.5px;
}

.layers {
  display: none;
}

.navigation-bar {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  /* background-color: #4a104a; */
  background-image: var(--Linear-gradient2);
  border-radius: 0 1.8rem ;

}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  /* color: #bbbbbb; */
  color: white;
}

.nav-links a:active {
  color: #5a5a5a;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #eeeeee;
  font-size: 1.6rem;
}

.layer {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

/* used for creating responsive navigation bar for mobile view*/
@media only screen and (max-width: 768px) {
  .navigation-bar {
    justify-content: space-between;
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 6.5rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    margin-bottom: 2.5rem;
  }

  .nav-links a {
    color: #4a104a;
  }

  .layers {
    display: block;
    cursor: pointer;
  }

  /* these three lines are used for making the cross icon for mobile view*/
  .layers.active .layer:nth-child(2) {
    opacity: 0;
  }

  .layers.active .layer:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .layers.active .layer:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
