* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layers {
  display: none;
}

.navigation-bar {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #4a104a;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #bbbbbb;
}

.nav-links a:hover {
  color: #5199db;
}

.nav-links a:active {
  color: #5a5a5a;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #eeeeee;
  font-size: 1.6rem;
}

.layer {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #bbbbbb;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .navigation-bar {
    justify-content: space-between;
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 6.5rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    margin-bottom: 2.5rem;
  }

  .nav-links a {
    color: #4a104a;
  }

  .layers {
    display: block;
    cursor: pointer;
  }

  .layers.active .layer:nth-child(2) {
    opacity: 0;
  }

  .layers.active .layer:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .layers.active .layer:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
