:root {
  --Linear-gradient2: linear-gradient(
    to right,
    hsl(280, 39%, 43%),
    hsl(356, 72%, 50%)
  );
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #4f4f4f;
  border-radius: 35px;
}
::-webkit-scrollbar-thumb{
  background: #4a104a;
  border-radius: 35px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient( to right, hsl(280, 39%, 43%), hsl(356, 72%, 50%) );
}


* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.row {
  width: 100%;
}
#home {
  padding-top: 10%;
  margin-bottom: 10%;
  background-color: #4a104a;
}
#home .row {
  margin-right: 0px;
}
.home-img {
  margin-bottom: 10%;
  margin-left: 40%;
}
.main-heading {
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #eeeeee;
  margin: 10% 10%;
}
.heading {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #5199db;
}
.text {
  font-size: 18px;
  color: #5a5a5a;
  margin-top: 10%;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.about-img {
  width: 100%;
}

#view-btn {
  border: 2px solid #5199db;
  color: #ffffff;
  margin-left: 40%;
  font-size: 18px;
  background-color: #4a104a;
}
#view-btn:hover {
  background-color: #5199db;
  color: #4a104a;
}
.content-main {
  width: 350px;
}

/*Back to top button */

#scrollToTopBtn {
  position: absolute;
  background-color: #4a104a;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  bottom: 40px;
  right: 50px;
  z-index: 99;
}

/* .gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #4a104a;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  border-radius: 50%;
  z-index: 99;
}
.gotopbtn {
  background-position: center;
  transition: background 0.8s;
}
.gotopbtn:hover {
  background: #4a104a radial-gradient(circle, transparent 1%, #4a104a 1%)
    center/15000%;
}
.gotopbtn:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}

.bi {
  text-decoration: none;
  color: white;
}
.bi:hover {
  color: white;
} */

/*********** Footer **********/
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 70px;
  background: #111;
}

footer .container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

footer .container .sec {
  padding-right: 30px;
}

footer .container .sec.Aboutus {
  width: 30%;
  padding-right: 30px;
}

footer .container .sec.Aboutus h2 {
  position: relative;
}

footer .container .sec.Aboutus h2:before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 190px;
  height: 2px;
  background: #fff;
}

footer p {
  color: #999;
}

.sci {
  display: flex;
  padding: 0;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #db198a;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.QuickLinks {
  position: relative;
  width: 25%;
}

.QuickLinks h2 {
  margin-bottom: 10px;
}

.QuickLinks u1 li {
  list-style: none;
}

.QuickLinks u1 li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.QuickLinks u1 li a:hover {
  color: #fff;
  padding-left: 5px;
  transition: all 0.5s ease;
}

footer .container .sec h2 {
  color: #fff;
  margin-bottom: 15px;
}

.copyrightText {
  width: 100%;
  padding-top: 40px;
  text-align: center;
}

.copyrightText p {
  margin: 0;
}

.form-control {
  color: #fff !important;
}

.footer-widget p {
  margin-bottom: 27px;
  color: white;
}

p {
  font-family: "Nunito", sans-serif;
  color: #8f8f8f;
  font-size: 16px;
  line-height: 28px;
}

.footer-detail {
  font-family: "Nunito", sans-serif;
  color: #8f8f8f;
  font-size: 16px;
  line-height: 28px;
  margin-top: 8px;
}

.animate-border {
  position: relative;
  display: block;
  width: 222px;
  height: 3.5px;
  margin-top: -13px;
  background: #007bff;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #f5b02e;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #eef0ef;
  border-left-color: #eef0ef;
}

.animate-border.border-offwhite:after {
  border-right-color: #f7f9f8;
  border-left-color: #f7f9f8;
}

/* Animated heading border */

@keyframes primary-short {
  0% {
    width: 15%;
  }
  50% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2;
  margin-bottom: -10px;
}

.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px;
}

.img-fluid {
  margin: -60px 15px;
}

.dk-footer-box-info {
  position: absolute;
  top: -71px;
  background: #202020;
  padding: 40px;
  margin: -4px 26px;
  z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  text-decoration: none;
  text-decoration-color: none;
  padding: 0;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  text-decoration: none;
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3b5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55acee;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #dd4b39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #0976b4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #b7242a;
}

.footer-info-text {
  margin: 26px 0 32px;
  color: white;
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.category ul li a {
  text-decoration: none;
  color: white;
}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #007bff;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}

.dk-footer-form input[type="email"] {
  padding: 12px 25px;
  border-radius: 50px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
}

.dk-footer-form button:hover {
  cursor: pointer;
}

.category li {
  text-decoration: none;
  background: #444444;
  box-shadow: inset 5px 5px 10px #525252, inset -5px -5px 10px #353535;
  border-radius: 30px;
  width: 100px;
}

.category li a {
  padding: 20px 20px;
}

#gmailus {
  margin-right: 7px;
}

/* more yilj.lf k/mm hrllo nslkclj fafas */

.guidelines .heading {
  text-align: center;
  padding: 3rem;
  font-size: 5rem;
}

.guidelines .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.guidelines .box-container .box {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  width: 27rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.guidelines .box-container .box img {
  height: 13rem;
  width: 13rem;
}

.guidelines .box-container .box h3 {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.guidelines .box-container .box p {
  font-size: 1.2rem;
  color: #999;
  padding: 0.5rem;
}

.guidelines .box-container .box:hover {
  /* transform: translateY(-1rem); */
  cursor: pointer;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

section .box .btn {
  background-color: #f3ecf3;
  border: 1px solid #5199db;
}
.guidelines .box-container .btn:hover {
  background-color: #5199db;
  color: #070607;
}

a {
  color: #000;
}

/* header */

.header {
  background-image: var(--Linear-gradient2);
  position: fixed;
  width: 100%;
  z-index: 3;
  border-radius: 0 0 1.5rem 0;
  border: none;
  top: 0px;
}

.image {
  width: 30%;
}

.site-icon {
  position: absolute;
  width: 30%;
  height: 50%;
  top: 0%;
  left: 0%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s all;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px;
  width: 100vw;
}
/* Hover effect*/
a:hover {
  background-color:#da385b;
}
.card {
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1.03);
}
.menu:hover li a {
  transform: scale(0.98);
  box-shadow: none;
}

.header li a:hover,
.header .menu-btn:hover {
  transform: scale(1);
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.5);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding: 0px 5px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  float: right;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: 5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
/* On screens that are 768px or higher */
@media screen and (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    width: 100%;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .home-img {
    margin-bottom: 10%;
  }
}
.main-heading{
  padding-left:1.5rem;
  font-size:37px;
  color: #fff;
}


/* @media (min-width: 20em) {
  .header{
    width: 100vw;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .home-img {
    margin-bottom: 10%;
  }
} */

/* On screens that are 600px or lower */
@media screen and (max-width: 600px) {
  .header li {
    float: left;
  }

  

  #home {
    margin: 0 auto;
    text-align: center;
  }

  .home-img {
    max-width: 100vw;
    padding-top: 4rem;
    margin-left: 0px;
  }

  #view-btn {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .about-img {
    width: 100vw;
  }

  .heading {
    text-align: center;
    margin-top: 1em;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: #5199db;
  }
  .guidelines .heading{
    padding: 0 ;
  }
  footer {
    /* text-align: center; */
    margin-top: 1em;
    padding: 10px;
    border-radius: 1rem 1rem 0 0;
  }

  footer .container {
    display: flex;
    flex-direction: column;
  }

  footer .animate-border {
    display: none;
  }

  footer .container .sec.Aboutus {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 1em;
  }

  footer .container .sec.QuickLinks {
    font-family: "Nunito", sans-serif;
    margin-bottom: 1em;
  }

  footer .container .sec.QuickLinks ul {
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: none;
    padding: 0;
    margin: 0;
    line-height:2rem;
  }

  footer .container .sec.QuickLinks ul li a {
    text-decoration: none;
    color: #999;
    margin-bottom: 1em;
  }

  footer .container .sec.section-heading {
    font-family: "Nunito", sans-serif;
  }

  footer .container .sec {
    padding-right: 0px;
    margin-bottom: 1em;
  }

  footer .container .sec h2 {
    font-family: "Nunito", sans-serif;
  }
}

/* Responsiveness */

/* For small screen */
@media only screen and (max-width: 600px) {

  .header{
    border-radius: 0 0 1.5rem 1.5rem;
  }
  .image{
    width:50%;
    margin: 0.5rem 0.3rem;
  }
  .header .menu-icon{
    display:flex;
    justify-content:flex-end;
  }

  .header .menu{
  
    padding: 0 0 ;
    text-align: center;
  }
  
  .row {
    width: 100%;
  }
  .col {
    min-width: 100%;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .site-icon {
    position: relative;
    margin: auto 0.4em;
  }
  .top {
    width: 100%;
  }
  .about-us {
    padding: 1em 3em;
  }
  .about-img {
    max-width: 100%;
    display: block;
    height: auto;
  }
  #home {
    padding-bottom: 3em;
  }

  #scrollToTopBtn {
    position: fixed;
    right: 1em;
    bottom: 1.5em;
  }
  .sci{
    justify-content:center;
    margin-top: 2rem;
  }
}

/* For medium screen */

@media only screen and (min-width: 601px) {
  @media screen and (max-width: 770px) {
    .body {
      margin: 0;
      padding: 0;
    }

    .header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
    .site-icon {
      position: relative;
      top: 3;
      left: 3;
    }
    .row {
      width: 100%;
    }

    .home-img {
      position: relative;
      margin: 2em auto;
      padding: 0;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .content-main {
      margin-bottom: 3em;
      text-align: center;
    }
    .content-main button {
      display: flex;
      position: relative;
      margin: auto 0px;
    }

    #dk-footer .footer-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      row-gap: 2em;
      column-gap: 4em;
    }
    .Aboutus {
      min-width: 100%;
      justify-self: stretch;
    }
  }
}

@media only screen and (min-width: 770px) {
  @media screen and (max-width: 1350px) {
    .header {
      max-width: 100%;
      position: fixed;
    }

    .top {
      max-width: 100%;
    }

    .home-img {
      position: relative;
      margin: 0 auto;
      padding: 0;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .about-img {
      max-width: 200%;
      display: block;
      height: auto;
      object-fit: contain;
    }

    .content-main {
      margin-bottom: 3em;
      text-align: center;
    }

    .content-main .main-heading {
      margin: 20px;
    }

    #dk-footer .footer-grid {
      display: grid;
      grid-template-columns: 70% 30%;

      row-gap: 2em;
      column-gap: 4em;
    }
    .Aboutus {
      min-width: 100%;
      justify-self: stretch;
    }
  }
}
