@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background:black;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    width:6%;
    height:6%;
    padding:1%;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #4a104a;

}


.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image:url("https://source.unsplash.com/weekly?coding");
}
.container #scene
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container #scene #text
{
    position: absolute;
    display: flex!important;
    position: relative;
    color: #fff;
    font-size: 12vw;
    z-index: 100;
}
.container #scene #text span{
    position: relative!important;
    display: inline-block;
    text-shadow: 1px 1px 0 #e1e1e1,
    2px 2px 0 #e1e1e1,
    3px 3px 0 #e1e1e1,
    4px 4px 0 #e1e1e1,
    5px 5px 0 #e1e1e1,
    6px 6px 0 #e1e1e1,
    7px 7px 0 #e1e1e1,
    8px 8px 0 #e1e1e1,
    25px 35px 0 rgba(0, 0, 0, 0.1)
}
.layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.zIndexAbove
{
    z-index: 101;
}
.about p{
    position: relative;
    color: #e1e1e1;
    width: 100%;
    height: 30vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about h2{
    position: relative;
    color:#e1e1e1;
    width: 100%;
    height: 20vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522 ,transparent);
    z-index: 1000;
}

.image1{
    height: 6%;
    width: 6%;
   padding:1%;
}  